<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RFID_YOKLAMA.Properties.Settings.kisilerConnectionString"
            connectionString="Data Source=LAPTOP-PAFIK8Q4\SQLEXPRESS;Initial Catalog=kisiler;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>